.card {
    background-color: #ffffff;
    color: black;
    border-radius: 8px;
    margin-top: 0.5em;
    max-width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 15px;
    background-color: #f4f6f9;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .check {
    width: 20px;
    height: 20px;
    accent-color: #007bff; 
    margin-right: 15px; 
  }
  
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-right: 15px;
    flex-grow: 1; /* Ensures the title takes as much space as needed */
  }
  
  .card-due {
    font-size: 0.9rem;
    color: #999;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden;
    text-overflow: ellipsis; /* Add ellipsis if the text overflows */
  }
  